@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>What makes a web app, a Progressive Web App?</h3>
    <br />
    <h5 class="font-weight-bold">Fast & Reliable</h5>
    <h5 class="font-weight-bold">Installable</h5>
    <h5 class="font-weight-bold">Mobile & Desktop</h5>
</div>
